#define FAN0_IRQ_NUM    89
#define FAN1_IRQ_NUM    90
#define FAN2_IRQ_NUM    91

#define ECP0_IRQ_NUM    92
#define ECP1_IRQ_NUM    93
#define ECP2_IRQ_NUM    94
#define ECP3_IRQ_NUM    95

#define LINK0_IRQ_NUM   96
//-------------------------
#define LINK1_IRQ_NUM   104
#define LINK2_IRQ_NUM   105
#define LINK3_IRQ_NUM   106
#define SFPIIC0_IRQ_NUM   107
#define SFPIIC1_IRQ_NUM   108
#define SFPIIC2_IRQ_NUM   109
#define SFPIIC3_IRQ_NUM   110

#define INTC0_IRQ_NUM     111

&fpga_axi {

#include "dts_rau_cpri_ecp.dtsi"

	//region0: BASICframedelay@a0002d40 {
	//	compatible = "generic-uio";
	//	reg = < 0x0 0xA0002D40 0x28 >;
	//};

	region1: old_CPRIx_FSinfo_SFinfo@a0002d60 {
		compatible = "generic-uio";
		reg = < 0x0 0xA0002D60 0x28 >;
	};

	//region2: new_CPRIx_FSinfo_SFinfo@a0002d80 {
	//	compatible = "generic-uio";
	//	reg = < 0x0 0xA0002D80 0x100 >;
	//};

	rau_glob_info: rau_glob_info@a0000000 {
		compatible = "rau,global-info-1.0";
		reg = <0x0 0xA0000000 0x10>;
	};

	//-------------- RTX carrier channel --------------------------
	////-------------- UL TX  (有限制)-------------------
	rtx_chn_axi_tx: RTX-channel-tx@a0000840 {
		#clock-cells = <1>;
		compatible = "rau,rtx-carrier-channel-0.1";
		//reg = <0xA0000840 0x800>;//总共
		reg = <0x0 0xA0000840 0x40>,
		      <0x0 0xA0000880 0x40>,
		      <0x0 0xA00008C0 0x40>,
		      <0x0 0xA0000900 0x40>,
		      <0x0 0xA0000940 0x40>,
		      <0x0 0xA0000980 0x40>,
		      <0x0 0xA00009C0 0x40>,
		      <0x0 0xA0000A00 0x40>,
		      <0x0 0xA0000A40 0x40>,
		      <0x0 0xA0000A80 0x40>,
		      <0x0 0xA0000AC0 0x40>,
		      <0x0 0xA0000B00 0x40>,
		      <0x0 0xA0000B40 0x40>,
		      <0x0 0xA0000B80 0x40>,
		      <0x0 0xA0000BC0 0x40>,
		      <0x0 0xA0000C00 0x40>,
		      <0x0 0xA0000C40 0x40>,
		      <0x0 0xA0000C80 0x40>,
		      <0x0 0xA0000CC0 0x40>,
		      <0x0 0xA0000D00 0x40>,
		      <0x0 0xA0000D40 0x40>,
		      <0x0 0xA0000D80 0x40>,
		      <0x0 0xA0000DC0 0x40>,
		      <0x0 0xA0000E00 0x40>,
		      <0x0 0xA0000E40 0x40>,
		      <0x0 0xA0000E80 0x40>,
		      <0x0 0xA0000EC0 0x40>,
		      <0x0 0xA0000F00 0x40>,
		      <0x0 0xA0000F40 0x40>,
		      <0x0 0xA0000F80 0x40>,
		      <0x0 0xA0000FC0 0x40>,
		      <0x0 0xA0001000 0x40>,
		      <0x0 0xA0001488 0x08>;// bw rst busy

		      dfe,node-is-uplink;
	};

	////-------------- DL RX  --------------------------

	rtx_chn_axi_rx: RTX-channel-rx@a0000040 {
		#clock-cells = <1>;
		compatible = "rau,rtx-carrier-channel-0.1";
		//reg = <0xA0000040 0x800>;//总共
		reg = <0x0 0xA0000040 0x40>,
		      <0x0 0xA0000080 0x40>,
		      <0x0 0xA00000C0 0x40>,
		      <0x0 0xA0000100 0x40>,
		      <0x0 0xA0000140 0x40>,
		      <0x0 0xA0000180 0x40>,
		      <0x0 0xA00001C0 0x40>,
		      <0x0 0xA0000200 0x40>,
		      <0x0 0xA0000240 0x40>,
		      <0x0 0xA0000280 0x40>,
		      <0x0 0xA00002C0 0x40>,
		      <0x0 0xA0000300 0x40>,
		      <0x0 0xA0000340 0x40>,
		      <0x0 0xA0000380 0x40>,
		      <0x0 0xA00003C0 0x40>,
		      <0x0 0xA0000400 0x40>,
		      <0x0 0xA0000440 0x40>,
		      <0x0 0xA0000480 0x40>,
		      <0x0 0xA00004C0 0x40>,
		      <0x0 0xA0000500 0x40>,
		      <0x0 0xA0000540 0x40>,
		      <0x0 0xA0000580 0x40>,
		      <0x0 0xA00005C0 0x40>,
		      <0x0 0xA0000600 0x40>,
		      <0x0 0xA0000640 0x40>,
		      <0x0 0xA0000680 0x40>,
		      <0x0 0xA00006C0 0x40>,
		      <0x0 0xA0000700 0x40>,
		      <0x0 0xA0000740 0x40>,
		      <0x0 0xA0000780 0x40>,
		      <0x0 0xA00007C0 0x40>,
		      <0x0 0xA0000800 0x40>,
		      <0x0 0xA0001480 0x08>;// bw rst busy

		clocks = <&rf_port_axi_7 0>, <&rf_port_axi_6 0>, <&rf_port_axi_5 0>, <&rf_port_axi_4 0>,
		         <&rf_port_axi_3 0>, <&rf_port_axi_2 0>, <&rf_port_axi_1 0>, <&rf_port_axi_0 0>;
		clock-names = "dl_lo_1a","dl_lo_1b","dl_lo_2a","dl_lo_2b",
			      "dl_lo_3a","dl_lo_3b","dl_lo_4a","dl_lo_4b";


	};
#define USE_AXCHUB
#if defined (USE_AXCHUB)
	axchub: axchub@a0001540 {
		compatible = "rau,axchub-0.1";
		reg = <0x0 0xA0001540 0x1800>, <0x0 0xA0002D40 0x40>;
		//reg = <0x0 0xA0001540 0x600>,
		//      <0x0 0xA0001B40 0x600>,
		//      <0x0 0xA0002140 0x600>,
		//      <0x0 0xA0002740 0x600>;
	};

//	axchub_0: axchub-0@a0001540 {
//		compatible = "rau,axchub-0.1";
//		reg = <0x0 0xA0001540 0x600>;//总共
//	};
//	axchub_1: axchub-1@a0001b40 {
//		compatible = "rau,axchub-0.1";
//		reg = <0x0 0xA0001B40 0x600>;//总共
//	};
//	axchub_2: axchub-2@a0002140 {
//		compatible = "rau,axchub-0.1";
//		reg = <0x0 0xA0002140 0x600>;//总共
//	};
//	axchub_3: axchub-3@a0002740 {
//		compatible = "rau,axchub-0.1";
//		reg = <0x0 0xA0002740 0x600>;//总共
//	};
#else
	//-------------- CPRI Route --------------------------
	cpri_route_0: cpri-route-0@a0001540 {
		compatible = "rau,cpri-route-0.1";
		//reg = <0xA0001540 0x600>;//总共
		reg = <0x0 0xA0001540 0x40>,
		      <0x0 0xA0001580 0x40>,
		      <0x0 0xA00015C0 0x40>,
		      <0x0 0xA0001600 0x40>,
		      <0x0 0xA0001640 0x40>,
		      <0x0 0xA0001680 0x40>,
		      <0x0 0xA00016C0 0x40>,
		      <0x0 0xA0001700 0x40>,
		      <0x0 0xA0001740 0x40>,
		      <0x0 0xA0001780 0x40>,
		      <0x0 0xA00017C0 0x40>,
		      <0x0 0xA0001800 0x40>,
		      <0x0 0xA0001840 0x40>,
		      <0x0 0xA0001880 0x40>,
		      <0x0 0xA00018C0 0x40>,
		      <0x0 0xA0001900 0x40>,
		      <0x0 0xA0001940 0x40>,
		      <0x0 0xA0001980 0x40>,
		      <0x0 0xA00019C0 0x40>,
		      <0x0 0xA0001A00 0x40>,
		      <0x0 0xA0001A40 0x40>,
		      <0x0 0xA0001A80 0x40>,
		      <0x0 0xA0001AC0 0x40>,
		      <0x0 0xA0001B00 0x40>;
	};
	cpri_route_1: cpri-route-1@a0001b40 {
		compatible = "rau,cpri-route-0.1";
		//reg = <0xA0001B40 0x600>;//总共
		reg = <0x0 0xA0001B40 0x40>,
		      <0x0 0xA0001B80 0x40>,
		      <0x0 0xA0001BC0 0x40>,
		      <0x0 0xA0001C00 0x40>,
		      <0x0 0xA0001C40 0x40>,
		      <0x0 0xA0001C80 0x40>,
		      <0x0 0xA0001CC0 0x40>,
		      <0x0 0xA0001D00 0x40>,
		      <0x0 0xA0001D40 0x40>,
		      <0x0 0xA0001D80 0x40>,
		      <0x0 0xA0001DC0 0x40>,
		      <0x0 0xA0001E00 0x40>,
		      <0x0 0xA0001E40 0x40>,
		      <0x0 0xA0001E80 0x40>,
		      <0x0 0xA0001EC0 0x40>,
		      <0x0 0xA0001F00 0x40>,
		      <0x0 0xA0001F40 0x40>,
		      <0x0 0xA0001F80 0x40>,
		      <0x0 0xA0001FC0 0x40>,
		      <0x0 0xA0002000 0x40>,
		      <0x0 0xA0002040 0x40>,
		      <0x0 0xA0002080 0x40>,
		      <0x0 0xA00020C0 0x40>,
		      <0x0 0xA0002100 0x40>;
	};
	cpri_route_2: cpri-route-2@a0002140 {
		compatible = "rau,cpri-route-0.1";
		//reg = <0xA0000000 0x600>;//总共
		reg = <0x0 0xA0002140 0x40>,
		      <0x0 0xA0002180 0x40>,
		      <0x0 0xA00021C0 0x40>,
		      <0x0 0xA0002200 0x40>,
		      <0x0 0xA0002240 0x40>,
		      <0x0 0xA0002280 0x40>,
		      <0x0 0xA00022C0 0x40>,
		      <0x0 0xA0002300 0x40>,
		      <0x0 0xA0002340 0x40>,
		      <0x0 0xA0002380 0x40>,
		      <0x0 0xA00023C0 0x40>,
		      <0x0 0xA0002400 0x40>,
		      <0x0 0xA0002440 0x40>,
		      <0x0 0xA0002480 0x40>,
		      <0x0 0xA00024C0 0x40>,
		      <0x0 0xA0002500 0x40>,
		      <0x0 0xA0002540 0x40>,
		      <0x0 0xA0002580 0x40>,
		      <0x0 0xA00025C0 0x40>,
		      <0x0 0xA0002600 0x40>,
		      <0x0 0xA0002640 0x40>,
		      <0x0 0xA0002680 0x40>,
		      <0x0 0xA00026C0 0x40>,
		      <0x0 0xA0002700 0x40>;
	};
	cpri_route_3: cpri-route-3@a0002740 {
		compatible = "rau,cpri-route-0.1";
		//reg = <0xA0000000 0x600>;//总共
		reg = <0x0 0xA0002740 0x40>,
		      <0x0 0xA0002780 0x40>,
		      <0x0 0xA00027C0 0x40>,
		      <0x0 0xA0002800 0x40>,
		      <0x0 0xA0002840 0x40>,
		      <0x0 0xA0002880 0x40>,
		      <0x0 0xA00028C0 0x40>,
		      <0x0 0xA0002900 0x40>,
		      <0x0 0xA0002940 0x40>,
		      <0x0 0xA0002980 0x40>,
		      <0x0 0xA00029C0 0x40>,
		      <0x0 0xA0002A00 0x40>,
		      <0x0 0xA0002A40 0x40>,
		      <0x0 0xA0002A80 0x40>,
		      <0x0 0xA0002AC0 0x40>,
		      <0x0 0xA0002B00 0x40>,
		      <0x0 0xA0002B40 0x40>,
		      <0x0 0xA0002B80 0x40>,
		      <0x0 0xA0002BC0 0x40>,
		      <0x0 0xA0002C00 0x40>,
		      <0x0 0xA0002C40 0x40>,
		      <0x0 0xA0002C80 0x40>,
		      <0x0 0xA0002CC0 0x40>,
		      <0x0 0xA0002D00 0x40>;
	};
#endif

	rf_port_axi_0: RF-Port-1A@a0001040 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001040 0x40>,
		      <0x0 0xA00014C0 0x04>, // Port_SW_Control
		      <0x0 0xA00014E0 0x04>; // PA_SW

		clocks = <&trx0_ad9371_d 3>, <&trx0_ad9371_d 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf0_lo_tx_freq", "rf0_lo_rx_freq";

	};

	rf_port_axi_1: RF-Port-1B@a0001080 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001080 0x40>,
		      <0x0 0xA00014C4 0x04>, // Port_SW_Control
		      <0x0 0xA00014E4 0x04>; // PA_SW

		clocks = <&trx0_ad9371_d 3>, <&trx0_ad9371_d 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf1_lo_tx_freq", "rf1_lo_rx_freq";
	};

	rf_port_axi_2: RF-Port-2A@a00010c0 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA00010C0 0x40>,
		      <0x0 0xA00014C8 0x04>, // Port_SW_Control
		      <0x0 0xA00014E8 0x04>; // PA_SW

		clocks = <&trx0_ad9371_c 3>, <&trx0_ad9371_c 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf2_lo_tx_freq", "rf2_lo_rx_freq";
	};

	rf_port_axi_3: RF-Port-2B@a0001100 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001100 0x40>,
		      <0x0 0xA00014CC 0x04>, // Port_SW_Control
		      <0x0 0xA00014EC 0x04>; // PA_SW

		clocks = <&trx0_ad9371_c 3>, <&trx0_ad9371_c 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf3_lo_tx_freq", "rf3_lo_rx_freq";
	};


	//-------------- port4 ~ port7 --------------------------

	rf_port_axi_4: RF-Port-3A@a0001140 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001140 0x40>,
		      <0x0 0xA00014D0 0x04>, // Port_SW_Control
		      <0x0 0xA00014F0 0x04>; // PA_SW

		clocks = <&trx0_ad9371_b 3>, <&trx0_ad9371_b 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf4_lo_tx_freq", "rf4_lo_rx_freq";

	};

	rf_port_axi_5: RF-Port-3B@a0001180 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001180 0x40>,
		      <0x0 0xA00014D4 0x04>, // Port_SW_Control
		      <0x0 0xA00014F4 0x04>; // PA_SW

		clocks = <&trx0_ad9371_b 3>, <&trx0_ad9371_b 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf5_lo_tx_freq", "rf5_lo_rx_freq";
	};

	rf_port_axi_6: RF-Port-4A@a00011c0 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA00011C0 0x40>,
		      <0x0 0xA00014D8 0x04>, // Port_SW_Control
		      <0x0 0xA00014F8 0x04>; // PA_SW

		clocks = <&trx0_ad9371_a 3>, <&trx0_ad9371_a 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf6_lo_tx_freq", "rf6_lo_rx_freq";
	};

	rf_port_axi_7: RF-Port-4B@a0001200 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x0 0xA0001200 0x40>,
		      <0x0 0xA00014DC 0x04>, // Port_SW_Control
		      <0x0 0xA00014FC 0x04>; // PA_SW

		clocks = <&trx0_ad9371_a 3>, <&trx0_ad9371_a 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf7_lo_tx_freq", "rf7_lo_rx_freq";
	};



	mmi_ledc: mmi_ledc@a0001400 {
		compatible = "rau,emmi-ledc";
		reg = <0x0 0xA0001400 0x40>;

	};



};

&fpga_axi {

	axi_intc_1: interrupt-controller@a0024000 {
		#interrupt-cells = <2>;
		clocks = <&clkc 71>;
		compatible = "xlnx,xps-intc-1.00.a";
		interrupt-controller ;
		interrupt-parent = <&gic>;
		interrupts = <0 INTC0_IRQ_NUM IRQ_TYPE_LEVEL_HIGH>;
		reg = < 0x0 0xA0024000 0x1000 >;
		xlnx,kind-of-intr = <0x1>;
		xlnx,num-intr-inputs = <0x10>;
	};

	/*sfp i2c 0*/
	axi_i2c_0: axii2c0@a0020000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		clocks = <&clkc 71>;
		reg = < 0x0 0xa0020000 0x1000 >;
		interrupts = <0 SFPIIC0_IRQ_NUM IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/*sfp i2c 1*/
	axi_i2c_1: axii2c1@a0021000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		clocks = <&clkc 71>;
		reg = < 0x0 0xa0021000 0x1000 >;
		interrupts = <0 SFPIIC1_IRQ_NUM IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/*sfp i2c 2*/
	axi_i2c_2: axii2c2@a0022000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		clocks = <&clkc 71>;
		reg = < 0x0 0xa0022000 0x1000 >;
		interrupts = <0 SFPIIC2_IRQ_NUM IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/*sfp i2c 3*/
	axi_i2c_3: axii2c3@a0023000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		clocks = <&clkc 71>;
		reg = < 0x0 0xa0023000 0x1000 >;
		interrupts = <0 SFPIIC3_IRQ_NUM IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/*RTC I2C*/
	axi_i2c_4: axii2c4@a0025000 {
		compatible = "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&axi_intc_1>;
		clocks = <&clkc 71>;
		reg = < 0x0 0xA0025000 0x1000 >;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING >;
		#address-cells = <1>;
		#size-cells = <0>;

		rtc_ext: ds1307@68 {
			compatible = "dallas,ds1307";
			reg = <0x68>;
		};
	};

};


